In [ ]:
!pip install optuna_integration

Collecting optuna_integration
  Downloading optuna_integration-3.3.0-py3-none-any.whl (25 kB)
Collecting optuna (from optuna_integration)
  Downloading optuna-3.3.0-py3-none-any.whl (404 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 404.2/404.2 kB 8.5 MB/s eta 0:00:00
Collecting alembic>=1.5.0 (from optuna->optuna_integration)
  Downloading alembic-1.11.2-py3-none-any.whl (225 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 225.3/225.3 kB 25.8 MB/s eta 0:00:00
Collecting cmaes>=0.10.0 (from optuna->optuna_integration)
  Downloading cmaes-0.10.0-py3-none-any.whl (29 kB)
Collecting colorlog (from optuna->optuna_integration)
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from optuna->optuna_integration) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna->optuna_integration) (23.1)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from optuna->optuna_integration) (2.0.19)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna->optuna_integration) (4.66.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna->optuna_integration) (6.0.1)
Collecting Mako (from alembic>=1.5.0->optuna->optuna_integration)
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 9.8 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna->optuna_integration) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.0->optuna->optuna_integration) (2.0.2)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic>=1.5.0->optuna->optuna_integration) (2.1.3)
Installing collected packages: Mako, colorlog, cmaes, alembic, optuna, optuna_integration
Successfully installed Mako-1.2.4 alembic-1.11.2 cmaes-0.10.0 colorlog-6.7.0 optuna-3.3.0 optuna_integration-3.3.0

In [ ]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.10/dist-packages (3.3.0)
Requirement already satisfied: alembic>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (1.11.2)
Requirement already satisfied: cmaes>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (0.10.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.10/dist-packages (from optuna) (6.7.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from optuna) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (23.1)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (2.0.19)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna) (4.66.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna) (6.0.1)
Requirement already satisfied: Mako in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (1.2.4)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.0->optuna) (2.0.2)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.1.3)

In [ ]:
!pip install pandas_profiling

Collecting pandas_profiling
  Downloading pandas_profiling-3.6.6-py2.py3-none-any.whl (324 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 324.4/324.4 kB 4.0 MB/s eta 0:00:00
Collecting ydata-profiling (from pandas_profiling)
  Downloading ydata_profiling-4.5.1-py2.py3-none-any.whl (357 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 357.3/357.3 kB 36.3 MB/s eta 0:00:00
Requirement already satisfied: scipy<1.12,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.10.1)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.5.3)
Requirement already satisfied: matplotlib<4,>=3.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (3.7.1)
Collecting pydantic<2,>=1.8.1 (from ydata-profiling->pandas_profiling)
  Downloading pydantic-1.10.12-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 79.6 MB/s eta 0:00:00
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (3.1.2)
Collecting visions[type_image_path]==0.7.5 (from ydata-profiling->pandas_profiling)
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.7/102.7 kB 13.2 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.23.5)
Collecting htmlmin==0.1.12 (from ydata-profiling->pandas_profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting phik<0.13,>=0.11.1 (from ydata-profiling->pandas_profiling)
  Downloading phik-0.12.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (679 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.5/679.5 kB 50.2 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (4.66.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.12.2)
Collecting multimethod<2,>=1.4 (from ydata-profiling->pandas_profiling)
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.14.0)
Collecting typeguard<3,>=2.13.2 (from ydata-profiling->pandas_profiling)
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting imagehash==4.3.1 (from ydata-profiling->pandas_profiling)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 25.4 MB/s eta 0:00:00
Requirement already satisfied: wordcloud>=1.9.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.9.2)
Collecting dacite>=1.8 (from ydata-profiling->pandas_profiling)
  Downloading dacite-1.8.1-py3-none-any.whl (14 kB)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (1.4.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (9.4.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (3.1)
Collecting tangled-up-in-unicode>=0.0.4 (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling)
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 82.5 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas_profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling->pandas_profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas_profiling) (1.3.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1.8.1->ydata-profiling->pandas_profiling) (4.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (2023.7.22)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas_profiling) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling->pandas_profiling) (1.16.0)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27082 sha256=c860b6e85469c2b98a2ad3bc8495d0ea9896da48e2b4959a01fbdbbef5c31306
  Stored in directory: /root/.cache/pip/wheels/dd/91/29/a79cecb328d01739e64017b6fb9a1ab9d8cb1853098ec5966d
Successfully built htmlmin
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, pydantic, multimethod, dacite, imagehash, visions, phik, ydata-profiling, pandas_profiling
  Attempting uninstall: pydantic
    Found existing installation: pydantic 2.1.1
    Uninstalling pydantic-2.1.1:
      Successfully uninstalled pydantic-2.1.1
Successfully installed dacite-1.8.1 htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9.1 pandas_profiling-3.6.6 phik-0.12.3 pydantic-1.10.12 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5 ydata-profiling-4.5.1

In [ ]:
!pip install fancyimpute

Collecting fancyimpute
  Downloading fancyimpute-0.7.0.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Collecting knnimpute>=0.1.0 (from fancyimpute)
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scikit-learn>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.2.2)
Requirement already satisfied: cvxpy in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.2)
Requirement already satisfied: cvxopt in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.2)
Requirement already satisfied: pytest in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (7.4.0)
Collecting nose (from fancyimpute)
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.7/154.7 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (3.2.0)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (0.6.2.post8)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (2.0.12)
Requirement already satisfied: scs>=1.1.6 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (3.2.3)
Requirement already satisfied: setuptools>65.5.1 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (67.7.2)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (23.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.1.2)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.0.1)
Requirement already satisfied: qdldl in /usr/local/lib/python3.10/dist-packages (from osqp>=0.4.1->cvxpy->fancyimpute) (0.1.7.post0)
Building wheels for collected packages: fancyimpute, knnimpute
  Building wheel for fancyimpute (setup.py) ... done
  Created wheel for fancyimpute: filename=fancyimpute-0.7.0-py3-none-any.whl size=29882 sha256=5c6e3e0330e935a19303783e75a41dc7a698824b1be7670b8673e2ae87881259
  Stored in directory: /root/.cache/pip/wheels/7b/0c/d3/ee82d1fbdcc0858d96434af108608d01703505d453720c84ed
  Building wheel for knnimpute (setup.py) ... done
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11330 sha256=17487baca19bbbbfdda28406d8dbbd16a9270e962ef31b37a7fced5686ea2ad3
  Stored in directory: /root/.cache/pip/wheels/46/06/a5/45a724630562413c374e29c08732411d496092408b3a7bf754
Successfully built fancyimpute knnimpute
Installing collected packages: nose, knnimpute, fancyimpute
Successfully installed fancyimpute-0.7.0 knnimpute-0.1.0 nose-1.3.7

In [ ]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os
import warnings
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from sklearn.utils import shuffle
import joblib
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from tensorflow import keras
from tensorflow.keras import layers
from optuna.integration import TFKerasPruningCallback
from keras.callbacks import EarlyStopping
import optuna
from sklearn.metrics import r2_score
from fancyimpute import IterativeImputer
import pandas as pd
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer

<ipython-input-7-d1a73fff6112>:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Agregação

In [ ]:
k67 = pd.read_csv('/content/drive/My Drive/IC/TXT/K67_CfluxBF.txt', header = 0, decimal = '.', sep = "\s+", na_values = -9999, skiprows = [1])
k77 = pd.read_csv('/content/drive/My Drive/IC/TXT/K77_CfluxBF.txt', header = 0, decimal = '.', sep = "\s+", na_values = -9999, skiprows = [1])
k83 = pd.read_csv('/content/drive/My Drive/IC/TXT/K83_CfluxBF.txt', header = 0, decimal = '.', sep = "\s+", na_values = -9999, skiprows = [1])

In [ ]:
k67

,dateloc,Year_LBAMIP,DoY_LBAMIP,Hour_LBAMIP,Tair_LBAMIP,Qair_LBAMIP,Wind_LBAMIP,Rainf_LBAMIP,PSurf_LBAMIP,SWdown_LBAMIP,...,NEE_model,par_fill,Pc,Pc_GEPfill,Pc_AM,Pc_PM,Pcatmed.VPD,PcatlowVPD,PcathighVPDvalues,VPD
0,731216.833333,2001.0,365.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,9.777892,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,731216.875000,2001.0,365.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,...,9.777892,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,731216.916667,2001.0,365.0,22.0,297.417751,0.017530,2.235186,0.000000,97565.357292,0.0,...,9.777892,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,731216.958333,2001.0,365.0,23.0,297.100529,0.017369,2.190482,0.000000,97566.748177,0.0,...,9.777892,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,731217.000000,2002.0,1.0,0.0,296.363586,0.017379,2.485850,0.000551,97575.195312,0.0,...,9.157619,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,732677.625000,2005.0,365.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.324000,190.658476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.412551
35036,732677.666667,2005.0,365.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.385000,70.707064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.299256
35037,732677.708333,2005.0,365.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.357000,12.254179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.396022
35038,732677.750000,2005.0,365.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,...,20.010000,-5.551109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.228987
35039,732677.791667,2005.0,365.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,...,17.736000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.165990

In [ ]:
k77

,dateloc,Year_LBAMIP,DoY_LBAMIP,Hour_LBAMIP,Tair_LBAMIP,Qair_LBAMIP,Wind_LBAMIP,Rainf_LBAMIP,PSurf_LBAMIP,SWdown_LBAMIP,...,NEE_model,par_fill,Pc,Pc_GEPfill,Pc_AM,Pc_PM,Pcatmed.VPD,PcatlowVPD,PcathighVPDvalues,VPD
0,730485.833333,1999.0,365.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,730485.875000,1999.0,365.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,730485.916667,1999.0,365.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,730485.958333,1999.0,365.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,730486.000000,2000.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52555,732677.625000,2005.0,365.0,15.0,304.214794,0.017625,2.754683,0.000087,99605.344521,383.961824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52556,732677.666667,2005.0,365.0,16.0,303.739592,0.017881,1.830320,0.000017,99569.730137,214.685811,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52557,732677.708333,2005.0,365.0,17.0,302.871054,0.018289,1.302720,0.000077,99576.317808,71.228716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52558,732677.750000,2005.0,365.0,18.0,301.612381,0.018593,1.178831,0.000005,99618.286301,8.449446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52559,732677.791667,2005.0,365.0,19.0,300.555068,0.018780,1.022460,0.000099,99689.041096,6.187368,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
k83

,dateloc,Year_LBAMIP,DoY_LBAMIP,Hour_LBAMIP,Tair_LBAMIP,Qair_LBAMIP,Wind_LBAMIP,Rainf_LBAMIP,PSurf_LBAMIP,SWdown_LBAMIP,...,NEE_model,par_fill,Pc,Pc_GEPfill,Pc_AM,Pc_PM,Pcatmed.VPD,PcatlowVPD,PcathighVPDvalues,VPD
0,730485.833333,1999.0,365.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,730485.875000,1999.0,365.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,730485.916667,1999.0,365.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,730485.958333,1999.0,365.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,730486.000000,2000.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43795,732312.625000,2004.0,366.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43796,732312.666667,2004.0,366.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43797,732312.708333,2004.0,366.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43798,732312.750000,2004.0,366.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43799,732312.791667,2004.0,366.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def JdToStD (jdate):
    fmt = '%Y%j'
    datestd = datetime.datetime.strptime(jdate, fmt).date()
    return(datestd)

def convData(data):
    data['Date'] = pd.DataFrame(np.zeros((len(data),1)))
    data['Day'] = pd.DataFrame(np.zeros((len(data),1)))
    data['Month'] = pd.DataFrame(np.zeros((len(data),1)))

    for i in range(len(data)):
        s = str(round(data['Year_LBAMIP'].loc[i]))+str(round(data['DoY_LBAMIP'].loc[i]))
        data['Date'].loc[i] = JdToStD(s)
        data['Month'].loc[i] = datetime.datetime.strptime(s,'%Y%j').month
        data['Day'].loc[i] = datetime.datetime.strptime(s,'%Y%j').day

    data['Date'] = pd.to_datetime(data['Date'].values)

In [ ]:
convData(k67)
k67.head()

<ipython-input-13-680ca9e83839>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'].loc[i] = datetime.datetime.strptime(s,'%Y%j').month
<ipython-input-13-680ca9e83839>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Day'].loc[i] = datetime.datetime.strptime(s,'%Y%j').day

,dateloc,Year_LBAMIP,DoY_LBAMIP,Hour_LBAMIP,Tair_LBAMIP,Qair_LBAMIP,Wind_LBAMIP,Rainf_LBAMIP,PSurf_LBAMIP,SWdown_LBAMIP,...,Pc_GEPfill,Pc_AM,Pc_PM,Pcatmed.VPD,PcatlowVPD,PcathighVPDvalues,VPD,Date,Day,Month
0,731216.833333,2001.0,365.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-12-31,31.0,12.0
1,731216.875000,2001.0,365.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-12-31,31.0,12.0
2,731216.916667,2001.0,365.0,22.0,297.417751,0.017530,2.235186,0.000000,97565.357292,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-12-31,31.0,12.0
3,731216.958333,2001.0,365.0,23.0,297.100529,0.017369,2.190482,0.000000,97566.748177,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-12-31,31.0,12.0
4,731217.000000,2002.0,1.0,0.0,296.363586,0.017379,2.485850,0.000551,97575.195312,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-01,1.0,1.0

In [ ]:
convData(k77)
k77.head()

<ipython-input-13-680ca9e83839>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'].loc[i] = datetime.datetime.strptime(s,'%Y%j').month
<ipython-input-13-680ca9e83839>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Day'].loc[i] = datetime.datetime.strptime(s,'%Y%j').day

,dateloc,Year_LBAMIP,DoY_LBAMIP,Hour_LBAMIP,Tair_LBAMIP,Qair_LBAMIP,Wind_LBAMIP,Rainf_LBAMIP,PSurf_LBAMIP,SWdown_LBAMIP,...,Pc_GEPfill,Pc_AM,Pc_PM,Pcatmed.VPD,PcatlowVPD,PcathighVPDvalues,VPD,Date,Day,Month
0,730485.833333,1999.0,365.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
1,730485.875000,1999.0,365.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
2,730485.916667,1999.0,365.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
3,730485.958333,1999.0,365.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
4,730486.000000,2000.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-01-01,1.0,1.0

In [ ]:
convData(k83)
k83.head()

<ipython-input-13-680ca9e83839>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'].loc[i] = datetime.datetime.strptime(s,'%Y%j').month
<ipython-input-13-680ca9e83839>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Day'].loc[i] = datetime.datetime.strptime(s,'%Y%j').day

,dateloc,Year_LBAMIP,DoY_LBAMIP,Hour_LBAMIP,Tair_LBAMIP,Qair_LBAMIP,Wind_LBAMIP,Rainf_LBAMIP,PSurf_LBAMIP,SWdown_LBAMIP,...,Pc_GEPfill,Pc_AM,Pc_PM,Pcatmed.VPD,PcatlowVPD,PcathighVPDvalues,VPD,Date,Day,Month
0,730485.833333,1999.0,365.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
1,730485.875000,1999.0,365.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
2,730485.916667,1999.0,365.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
3,730485.958333,1999.0,365.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31,31.0,12.0
4,730486.000000,2000.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-01-01,1.0,1.0

In [ ]:
dt_min = max([k67['Date'].min(), k77['Date'].min(), k83['Date'].min()])

In [ ]:
dt_max = min([k67['Date'].max(), k77['Date'].max(), k83['Date'].max()])

In [ ]:
k67 = k67[(k67['Date'] >= dt_min) & (k67['Date'] <= dt_max)][['Date', 'ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']]
k77 = k77[(k77['Date'] >= dt_min) & (k77['Date'] <= dt_max)][['Date', 'ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']]
k83 = k83[(k83['Date'] >= dt_min) & (k83['Date'] <= dt_max)][['Date', 'ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']]

In [ ]:
(k67['Date'] > '2004-05-25').sum()/k67.shape[0]

0.20088266626084308

In [ ]:
k67_test= k67[k67['Date'] > '2004-05-25']
k67_train= k67[k67['Date'] <= '2004-05-25']
k77_test= k77[k77['Date'] > '2004-05-25']
k77_train= k77[k77['Date'] <= '2004-05-25']
k83_test= k83[k83['Date'] > '2004-05-25']
k83_train= k83[k83['Date'] <= '2004-05-25']

### EDA

In [ ]:
k67_profile = ProfileReport(k67_train.rename(columns = {'NEEnogap_5day_sco2_ust':'NEE'}), title="K67 Profiling Report")
k77_profile = ProfileReport(k77_train.rename(columns = {'NEEnogap_5day_sco2_ust':'NEE'}), title="K77 Profiling Report")
k83_profile = ProfileReport(k83_train.rename(columns = {'NEEnogap_5day_sco2_ust':'NEE'}), title="K83 Profiling Report")

In [ ]:
#k67_profile.to_widgets()

In [ ]:
#k77_profile.to_widgets()

In [ ]:
#k83_profile.to_widgets()

In [ ]:
#k67_profile.to_file("k67_report.html")
#k77_profile.to_file("k77_report.html")
#k83_profile.to_file("k83_report.html")

In [ ]:
k67_train.head()

,Date,ta,press,par,Rn,H,LE,ee,ees,So,prec,NEEnogap_5day_sco2_ust
0,2001-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,8.876209
1,2001-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,8.876209
2,2001-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,8.876209
3,2001-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,8.913921
4,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,11.391119

In [ ]:
def scaling(train, test):
    ss = StandardScaler()
    ss.fit(train[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']])

    train_sc = pd.DataFrame(
        ss.transform(
            train[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']]
        ),
        index = train['Date'].values,
        columns = train.columns[1:]
    ).reset_index().rename(columns={'index':'Date'})

    test_sc = pd.DataFrame(
        ss.transform(
            test[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']]
        ),
        index = test['Date'].values,
        columns = test.columns[1:]
    ).reset_index().rename(columns={'index':'Date'})

    return ss, train_sc, test_sc

In [ ]:
sc_k67, train_sc_k67, test_sc_k67 = scaling(k67_train, k67_test)
sc_k77, train_sc_k77, test_sc_k77 = scaling(k77_train, k77_test)
sc_k83, train_sc_k83, test_sc_k83 = scaling(k83_train, k83_test)

In [ ]:
train_sc_k67.isnull().mean().sort_values(ascending=False)

ee                        0.254809
LE                        0.165302
Rn                        0.151447
H                         0.109741
ta                        0.093839
press                     0.006570
prec                      0.006570
ees                       0.002952
par                       0.002428
Date                      0.000000
So                        0.000000
NEEnogap_5day_sco2_ust    0.000000
dtype: float64

In [ ]:
train_sc_k77.isnull().mean().sort_values(ascending=False)

par                       0.187357
Rn                        0.096651
LE                        0.041143
prec                      0.039098
ta                        0.038955
press                     0.038908
ees                       0.038908
ee                        0.038765
H                         0.036815
Date                      0.000000
So                        0.000000
NEEnogap_5day_sco2_ust    0.000000
dtype: float64

In [ ]:
train_sc_k83.isnull().mean().sort_values(ascending=False)

Rn                        0.404871
ee                        0.357163
LE                        0.279443
H                         0.268122
press                     0.241866
par                       0.210236
prec                      0.189070
ta                        0.145976
ees                       0.145976
Date                      0.000000
So                        0.000000
NEEnogap_5day_sco2_ust    0.000000
dtype: float64

In [ ]:
# def imputer(train, test):
#     knn = KNNImputer(missing_values=np.nan, n_neighbors=5, weights='uniform', metric='nan_euclidean')
#     knn.fit(train[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']])

#     train_knn = pd.DataFrame(
#         knn.transform(
#             train[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']]
#         ),
#         index = train['Date'].values,
#         columns = train.columns[1:]
#     ).reset_index().rename(columns={'index':'Date'})

#     test_knn = pd.DataFrame(
#         knn.transform(
#             test[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec','NEEnogap_5day_sco2_ust']]
#         ),
#         index = test['Date'].values,
#         columns = test.columns[1:]
#     ).reset_index().rename(columns={'index':'Date'})

#     return knn, train_knn, test_knn

In [ ]:
# knn_k67, train_imputed_k67, test_imputed_k67 = imputer(train_sc_k67, test_sc_k67)
# knn_k77, train_imputed_k77, test_imputed_k77 = imputer(train_sc_k77, test_sc_k77)
# knn_k83, train_imputed_k83, test_imputed_k83 = imputer(train_sc_k83, test_sc_k83)

In [ ]:
# mice imputer


def imputer(train, test):
    mice_imputer = IterativeImputer(max_iter=10, random_state=0, sample_posterior=True)
    mice_imputer.fit(train[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec', 'NEEnogap_5day_sco2_ust']])

    train_mice_imputed = pd.DataFrame(
        mice_imputer.transform(train[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec', 'NEEnogap_5day_sco2_ust']]),
        index=train['Date'].values,
        columns=train.columns[1:]
    ).reset_index().rename(columns={'index': 'Date'})

    test_mice_imputed = pd.DataFrame(
        mice_imputer.transform(test[['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec', 'NEEnogap_5day_sco2_ust']]),
        index=test['Date'].values,
        columns=test.columns[1:]
    ).reset_index().rename(columns={'index': 'Date'})

    return  train_mice_imputed, test_mice_imputed

In [ ]:
#mice
train_imputed_k67, test_imputed_k67 = imputer(train_sc_k67, test_sc_k67)
train_imputed_k77, test_imputed_k77 = imputer(train_sc_k77, test_sc_k77)
train_imputed_k83, test_imputed_k83 = imputer(train_sc_k83, test_sc_k83)

In [ ]:
# #mean imputer

# import pandas as pd
# import numpy as np

# def mean_imputer(train, test, columns_to_impute):
#     train_imputed = train.copy()
#     test_imputed = test.copy()

#     for col in columns_to_impute:
#         col_mean = train[col].mean()
#         train_imputed[col].fillna(col_mean, inplace=True)
#         test_imputed[col].fillna(col_mean, inplace=True)

#     train_imputed = train_imputed.set_index('Date').reset_index()
#     test_imputed = test_imputed.set_index('Date').reset_index()

#     return train_imputed, test_imputed

In [ ]:
# #mean
# columns_to_impute = ['ta', 'press', 'par', 'Rn', 'H', 'LE', 'ee', 'ees', 'So', 'prec', 'NEEnogap_5day_sco2_ust']
# train_imputed_k67, test_imputed_k67 = mean_imputer(train_sc_k67, test_sc_k67, columns_to_impute)
# train_imputed_k77, test_imputed_k77 = mean_imputer(train_sc_k77, test_sc_k77, columns_to_impute)
# train_imputed_k83, test_imputed_k83 = mean_imputer(train_sc_k83, test_sc_k83, columns_to_impute)

In [ ]:
train_imputed_k67.head()

,Date,ta,press,par,Rn,H,LE,ee,ees,So,prec,NEEnogap_5day_sco2_ust
0,2001-12-31,-0.899703,-2.271240,-0.808537,-0.762114,-1.151257,-1.071476,-0.310884,-0.855895,-0.818356,0.012343,0.838332
1,2001-12-31,-0.796529,1.668337,-1.236453,-1.021731,-1.178578,-1.475281,1.386062,-1.001060,-0.818356,-1.044820,0.838332
2,2001-12-31,0.308180,-0.996594,-0.552649,-0.560005,-0.603996,-0.361326,-1.834260,0.170852,-0.818356,-0.405657,0.838332
3,2001-12-31,-0.363768,-0.257001,-0.532648,-0.436018,-0.666129,-0.842870,1.116993,-0.090376,-0.818356,0.772936,0.841947
4,2002-01-01,1.066264,-0.529501,-0.956208,-1.097591,-0.596091,-0.769442,1.406637,1.540562,-0.818356,0.683447,1.079467

In [ ]:
train_imputed_k67['tower'] = 'K67'
train_imputed_k77['tower'] = 'K77'
train_imputed_k83['tower'] = 'K83'
test_imputed_k67['tower'] = 'K67'
test_imputed_k77['tower'] = 'K77'
test_imputed_k83['tower'] = 'K83'

In [ ]:
train = pd.concat((train_imputed_k67, train_imputed_k77, train_imputed_k83))
test = pd.concat((test_imputed_k67, test_imputed_k77, test_imputed_k83))

In [ ]:
train = train.sort_values('Date').reset_index(drop=True)
train.head(50)

,Date,ta,press,par,Rn,H,LE,ee,ees,So,prec,NEEnogap_5day_sco2_ust,tower
0,2001-12-31,-0.899703,-2.271240,-0.808537,-0.762114,-1.151257,-1.071476,-0.310884,-0.855895,-0.818356,0.012343,0.838332,K67
1,2001-12-31,0.779791,-1.678549,-0.720740,-0.800189,-0.811306,-0.647604,-3.679946,0.714962,-0.818582,-0.145015,0.334828,K77
2,2001-12-31,1.507039,-2.100386,-0.720642,-0.848488,-0.872311,-0.664055,-4.550092,1.528738,-0.818582,-0.145015,0.334828,K77
3,2001-12-31,2.127860,-2.420149,-0.700494,-0.941652,-0.588908,-0.573754,-4.929631,2.288811,-0.761446,-0.145015,0.186491,K77
4,2001-12-31,2.784157,-2.657190,-0.233872,0.182273,-0.575008,-0.408947,-2.249518,3.168409,-0.101997,-0.145015,0.307107,K77
5,2001-12-31,3.050224,-2.593334,0.712773,0.220386,0.475204,-0.167653,-4.169322,3.547857,0.512512,-0.145015,0.410764,K77
6,2001-12-31,2.997011,-2.350972,1.566895,1.213034,1.943956,0.032643,-4.619454,3.470924,1.040203,-0.145015,0.392852,K77
7,2001-12-31,2.695469,-2.002667,1.617362,1.382423,2.778720,0.406441,-3.409014,3.044003,1.445115,-0.145015,0.254573,K77
8,2001-12-31,2.482616,-1.441992,2.187559,1.996805,1.596459,0.341447,-3.206592,2.754283,1.699653,-0.145015,0.331839,K77
9,2001-12-31,2.110123,-0.901151,1.511538,1.344654,2.448212,0.242011,-2.738666,2.264570,1.786471,-0.145015,0.275533,K77
10,2001-12-31,0.141231,-1.336533,-0.720740,-0.780274,-0.795862,-0.643570,-2.258676,0.064312,-0.818582,-0.145015,0.334828,K77
11,2001-12-31,1.915007,-0.378209,2.181593,1.998408,2.104576,0.338720,-2.287625,2.018956,1.699653,-0.145015,0.288967,K77
12,2001-12-31,1.045857,-0.118915,1.223114,1.099497,2.761731,0.391212,-1.066746,1.001147,1.040203,-0.145015,0.213338,K77
13,2001-12-31,0.602413,-0.038128,0.935962,0.731875,2.006505,0.333893,-0.859642,0.527090,0.512512,-0.145015,0.197313,K77
14,2001-12-31,-0.178048,-0.168258,0.232458,0.013341,0.760923,0.020333,-0.389937,-0.235004,-0.101997,-0.145015,0.010729,K77
15,2001-12-31,-0.710181,-0.588160,-0.506353,-0.615462,-0.150290,-0.295300,-0.462753,-0.710407,-0.761446,-0.145015,0.823985,K77
16,2001-12-31,-0.639230,-0.854226,-0.719664,-0.808429,-0.547981,-0.578908,-0.474330,-0.650140,-0.818582,-0.145015,0.334828,K77
17,2001-12-31,-0.426377,-1.224301,-0.720740,-0.813465,-0.554931,-0.582073,-0.675395,-0.463110,-0.818582,-0.145015,0.334828,K77
18,2001-12-31,-0.284475,-1.473436,-0.720740,-0.804996,-0.562653,-0.589534,-0.701294,-0.333485,-0.818582,-0.145015,0.334828,K77
19,2001-12-31,-0.018408,-1.456505,-0.720740,-0.779129,-0.554931,-0.574367,-0.820674,-0.087703,-0.818582,-0.145015,0.334828,K77
20,2001-12-31,0.070280,-1.143513,-0.720740,-0.805911,-0.560336,-0.566348,-0.778934,0.000005,-0.818582,-0.145015,0.334828,K77
21,2001-12-31,1.524777,-0.173096,2.225507,2.119041,3.706149,0.611219,-1.761046,1.547760,1.445115,-0.145015,0.277647,K77
22,2001-12-31,-0.071622,-1.199146,-0.720740,-0.809574,-0.785823,-0.640966,-2.270055,-0.138543,-0.818582,-0.145015,0.334828,K77
23,2001-12-31,-0.355426,-1.205434,-0.720740,-0.751890,-0.676168,-0.622402,-2.563344,-0.399476,-0.818582,-0.145015,0.334828,K77
24,2001-12-31,1.497579,-1.296821,-0.718054,-0.681629,-1.008459,-0.753508,-3.085705,1.535458,-0.818585,-0.133789,0.093021,K83
25,2001-12-31,0.007906,-1.563456,-0.718054,-0.726419,-0.827920,-0.776369,0.155887,-0.051033,-0.818585,-0.133789,-0.062406,K83
26,2001-12-31,-0.159525,-1.219679,-0.718054,-0.732636,-0.848326,-0.718142,0.327354,-0.212513,-0.818585,-0.133789,0.130621,K83
27,2001-12-31,-0.260508,-0.867617,-0.659311,-0.677674,-0.868732,-0.659915,0.199692,-0.308610,-0.818585,-0.133789,0.490050,K83
28,2001-12-31,-0.098374,-0.551279,0.100266,-0.159205,0.222179,-0.174753,-0.068771,-0.153274,-0.818585,-0.133789,0.490050,K83
29,2001-12-31,0.398139,-0.211643,1.132750,0.665908,1.105030,0.317512,-0.369776,0.338404,-0.761333,-0.133789,-0.988341,K83
30,2001-12-31,0.844928,-0.184203,1.945147,1.313616,2.404017,0.540322,-0.587551,0.806168,-0.101885,-0.133789,-1.117291,K83
31,2001-12-31,1.236256,-0.235977,1.222225,1.393858,1.513619,0.781178,-1.051887,1.237291,0.512623,-0.133789,-1.020210,K83
32,2001-12-31,1.775623,-0.262382,1.151502,1.372324,3.315409,0.321747,-1.602583,1.862366,1.040313,-0.133789,-0.895366,K83
33,2001-12-31,2.316741,-0.664146,2.293157,2.392892,4.200921,0.924215,-2.038758,2.530662,1.445224,-0.133789,-0.981708,K83
34,2001-12-31,2.701197,-1.228480,2.460088,0.684997,5.086433,1.122229,-3.128884,3.030897,1.699761,-0.133789,-0.568730,K83
35,2001-12-31,3.057419,-1.831644,1.458660,2.023020,3.610173,1.096454,-3.327260,3.513141,1.786579,-0.133789,-0.496269,K83
36,2001-12-31,3.272868,-2.296055,0.188541,0.443703,2.292008,0.076498,-3.936153,3.814379,1.699761,-0.133789,-0.424382,K83
37,2001-12-31,3.462711,-2.541463,1.125215,-0.105498,1.783237,0.266098,-5.098245,4.086217,1.445224,-0.133789,-0.150849,K83
38,2001-12-31,3.391361,-2.721118,0.299460,0.039650,0.555537,0.001644,-4.940546,3.983538,1.040313,-0.133789,0.133773,K83
39,2001-12-31,2.995568,-2.554406,-0.561643,-0.641453,-0.726479,-0.514004,-4.983726,3.428452,0.512623,-0.133789,0.381528,K83
40,2001-12-31,2.307461,-2.238586,-0.718054,-0.757744,-0.498835,-0.635274,-2.839144,2.520789,-0.101885,-0.133789,0.267010,K83
41,2001-12-31,2.148698,-1.860120,-0.718054,-0.727391,-0.469678,-0.662937,-3.023752,2.319159,-0.761333,-0.133789,0.586122,K83
42,2001-12-31,2.232916,-1.566563,-0.718054,-0.729115,-0.491872,-0.700322,-3.133265,2.423594,-0.818585,-0.133789,0.490050,K83
43,2001-12-31,-0.534497,-0.648492,-0.908732,-0.731716,-0.474032,-0.718039,-3.138584,-0.489757,-0.818585,1.050267,0.490050,K83
44,2001-12-31,2.144671,-1.235211,-0.718054,-0.734317,-0.456191,-0.735756,-3.427386,2.313016,-0.818585,-0.133789,0.490050,K83
45,2001-12-31,1.826487,-1.196898,-0.718054,-0.724941,-0.708281,-0.724482,-3.253417,1.923359,-0.818585,-0.133789,0.490050,K83
46,2001-12-31,0.655626,-0.850356,-0.720740,-0.827428,-0.646824,-0.568180,-1.287573,0.581465,-0.818582,-0.145015,0.374961,K77
47,2001-12-31,0.221517,-1.699621,-0.718054,-0.719684,-0.780065,-0.749477,-0.112577,0.159811,-0.818585,-0.133789,0.559592,K83
48,2001-12-31,0.434952,-1.413830,-0.718054,-0.713735,-0.826767,-0.747506,-0.444245,0.375702,-0.818585,-0.133789,0.310733,K83
49,2001-12-31,-0.796529,1.668337,-1.236453,-1.021731,-1.178578,-1.475281,1.386062,-1.001060,-0.818356,-1.044820,0.838332,K67

In [ ]:
# #
# def create_model(trial, input_dim):

#     n_layers = trial.suggest_int("n_layers", 1, 5)
#     dropout_rate = trial.suggest_float("lstm_dropout", 0.0, 0.4)
#     is_relu = trial.suggest_int("is_relu", 0, 1)
#     activation = ['sigmoid', 'relu'][is_relu]
#     model = keras.Sequential()
#     dense_max = 1000

#     for i in range(n_layers):
#         dense = trial.suggest_int("layer_units_L{}".format(i+1), dense_max//3, dense_max)
#         dense_max = dense
#         if i == 0:
#             model.add(layers.Dense(dense, activation=activation, input_dim=input_dim))
#         else:
#             model.add(layers.Dense(dense, activation=activation))
#         model.add(layers.Dropout(dropout_rate))
#         model.add(layers.BatchNormalization())
#     model.add(layers.Dense(1))

#     model.compile(loss='mean_squared_error', optimizer='adam', metrics = 'mse')

#     return model

In [ ]:
# def objective(trial, X, y):

#     X_train, X_val = X[:-round(X.shape[0]*0.2),:], X[-round(X.shape[0]*0.2):,:]
#     y_train, y_val = y[:-round(y.shape[0]*0.2)], y[-round(y.shape[0]*0.2):]

#     input_shape = X_train.shape[1]

#     model = create_model(trial, input_shape)

#     # We compile our model with a sampled learning rate.
#     epochs = 100000

#     earlystopper = EarlyStopping(monitor = 'val_loss', patience = 10, verbose = 1)
#     callbacks = [earlystopper, TFKerasPruningCallback(trial, "val_loss")]

#     model.fit(
#         X_train,
#         y_train,
#         batch_size=20,
#         epochs=epochs,
#         validation_data = (X_val, y_val),
#         callbacks = [earlystopper, TFKerasPruningCallback(trial, "val_loss")],
#         verbose=0)


#     # Evaluate the model accuracy on the validation set.
#     score = model.evaluate(X_val, y_val, verbose=False)
#     return score[1]

In [ ]:
# study = optuna.create_study(direction="minimize", study_name="MLP")
# func = lambda trial: objective(trial, train.drop(columns=['Date', 'tower','NEEnogap_5day_sco2_ust']).values, train['NEEnogap_5day_sco2_ust'].values)
# study.optimize(func, timeout=60*60)

In [ ]:
# study.best_params

In [ ]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error

In [ ]:
# def objective_svm(trial, X, y):

#     X_train, X_val = X[:-round(X.shape[0]*0.2),:], X[-round(X.shape[0]*0.2):,:]
#     y_train, y_val = y[:-round(y.shape[0]*0.2)], y[-round(y.shape[0]*0.2):]

#     kernel = trial.suggest_categorical("kernel", ["linear", "poly", "rbf", 'sigmoid'])
#     degree = trial.suggest_int("degree", 2, 10)
#     C = trial.suggest_float("C", 0.001, 100, log=True)
#     epsilon = trial.suggest_float("epsilon", 0.01, 10, log=True)

#     svm = SVR(kernel=kernel, degree=degree, C=C, epsilon=epsilon, max_iter=100000)
#     svm.fit(X_train, y_train)

#     pred = svm.predict(X_val)

#     # Evaluate the model accuracy on the validation set.
#     score = mean_squared_error(y_val, pred)
#     return score

In [ ]:
# study_svm = optuna.create_study(direction="minimize", study_name="SVM")
# func = lambda trial: objective_svm(trial, train.drop(columns=['Date', 'tower','NEEnogap_5day_sco2_ust']).values, train['NEEnogap_5day_sco2_ust'].values)
# study_svm.optimize(func, timeout=60*50)

In [ ]:
# study_svm.best_params

In [ ]:
def objective_rf(trial, X, y):

    X_train, X_val = X[:-round(X.shape[0]*0.2),:], X[-round(X.shape[0]*0.2):,:]
    y_train, y_val = y[:-round(y.shape[0]*0.2)], y[-round(y.shape[0]*0.2):]

    n_estimators = trial.suggest_int("n_estimators", 100, 2000)
    max_depth = trial.suggest_int("max_depth", 5, 20)
    min_samples_leaf = trial.suggest_int("min_samples_leaf", 50, 200)
    max_features = trial.suggest_float("max_features", 0.1, 1)

    rf = RandomForestRegressor(n_estimators=n_estimators, max_depth=max_depth, min_samples_leaf=min_samples_leaf, max_features=max_features, n_jobs=-1, random_state=10)
    rf.fit(X_train, y_train)

    pred = rf.predict(X_val)

    # Evaluate the model accuracy on the validation set.
    score = mean_squared_error(y_val, pred)
    return score

In [ ]:
# study_rf = optuna.create_study(direction="minimize", study_name="Random Forest")
# func = lambda trial: objective_rf(trial, train.drop(columns=['Date', 'tower','NEEnogap_5day_sco2_ust']).values, train['NEEnogap_5day_sco2_ust'].values)
# study_rf.optimize(func, timeout=60*40)

In [ ]:
# study_rf.best_params

In [ ]:
sdef objective_en(trial, X, y):

    X_train, X_val = X[:-round(X.shape[0]*0.2),:], X[-round(X.shape[0]*0.2):,:]
    y_train, y_val = y[:-round(y.shape[0]*0.2)], y[-round(y.shape[0]*0.2):]

    alpha = trial.suggest_float("alpha", 0.001, 100, log=True)
    l1_ratio = trial.suggest_float("l1_ratio", 0.1, 0.9)

    en = ElasticNet(alpha=alpha, l1_ratio=l1_ratio, random_state=10)
    en.fit(X_train, y_train)

    pred = en.predict(X_val)

    # Evaluate the model accuracy on the validation set.
    score = mean_squared_error(y_val, pred)
    return score

In [ ]:
# study_en = optuna.create_study(direction="minimize", study_name="Elastic Net")
# func = lambda trial: objective_en(trial, train.drop(columns=['Date', 'tower','NEEnogap_5day_sco2_ust']).values, train['NEEnogap_5day_sco2_ust'].values)
# study_en.optimize(func, timeout=60*15)

In [ ]:
# study_en.best_params

In [ ]:
X = train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values
y = train['NEEnogap_5day_sco2_ust'].values

X_train, X_val = X[:-round(X.shape[0]*0.2),:], X[-round(X.shape[0]*0.2):,:]
y_train, y_val = y[:-round(y.shape[0]*0.2)], y[-round(y.shape[0]*0.2):]

input_shape = X_train.shape[1]

model = keras.Sequential()

model.add(layers.Dense(793, activation='relu', input_dim=X.shape[1]))
model.add(layers.Dropout(0.3035197246543597))
model.add(layers.BatchNormalization())

model.add(layers.Dense(743, activation='relu'))
model.add(layers.Dropout(0.3035197246543597))
model.add(layers.BatchNormalization())



model.add(layers.Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam', metrics = 'mse')

# We compile our model with a sampled learning rate.
epochs = 100000

earlystopper = EarlyStopping(monitor = 'val_loss', patience = 10, verbose = 1)

model.fit(
    X_train,
    y_train,
    batch_size=20,
    epochs=epochs,
    validation_data = (X_val, y_val),
    callbacks = [earlystopper],
    verbose=0)


# Evaluate the model accuracy on the validation set.
score_test = model.predict(test.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)
score_train = model.predict(train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)

print(f'The r2 score on the Train set is: ', r2_score(train['NEEnogap_5day_sco2_ust'].values, score_train))
print(f'The r2 score on the Test set is ', r2_score(test['NEEnogap_5day_sco2_ust'].values, score_test))

Epoch 20: early stopping
495/495 [==============================] - 2s 3ms/step
1971/1971 [==============================] - 7s 4ms/step
The r2 score on the Train set is:  0.727029241059304
The r2 score on the Test set is  0.656366472674407

In [ ]:
%%time
rf = RandomForestRegressor(n_estimators=731, max_depth=16, min_samples_leaf=54, max_features=0.7088165792090897, n_jobs=-1, random_state=10)
rf.fit(train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values, train['NEEnogap_5day_sco2_ust'].values)

score_test = rf.predict(test.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)
score_train = rf.predict(train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)

print(f'The r2 score on the Train set is: ', r2_score(train['NEEnogap_5day_sco2_ust'].values, score_train))
print(f'The r2 score on the Test set is ', r2_score(test['NEEnogap_5day_sco2_ust'].values, score_test))

The r2 score on the Train set is:  0.8023964017207063
The r2 score on the Test set is  0.6811919229913722
CPU times: user 5min 39s, sys: 712 ms, total: 5min 39s
Wall time: 3min 35s

In [ ]:
%%time
svm = SVR(kernel='rbf', C=2.007071162467718, epsilon=0.4829802703750591, max_iter=100000)
svm.fit(train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values, train['NEEnogap_5day_sco2_ust'].values)

score_test = svm.predict(test.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)
score_train = svm.predict(train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)

print(f'The r2 score on the Train set is: ', r2_score(train['NEEnogap_5day_sco2_ust'].values, score_train))
print(f'The r2 score on the Test set is ', r2_score(test['NEEnogap_5day_sco2_ust'].values, score_test))

The r2 score on the Train set is:  0.7517680092064335
The r2 score on the Test set is  0.6748286307806904
CPU times: user 2min 24s, sys: 380 ms, total: 2min 25s
Wall time: 2min 26s

In [ ]:
%%time
en = ElasticNet(alpha=0.002742375585332102, l1_ratio=0.100003816709006, random_state=10)
en.fit(train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values, train['NEEnogap_5day_sco2_ust'].values)

score_test = en.predict(test.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)
score_train = en.predict(train.drop(columns=['Date', 'tower', 'NEEnogap_5day_sco2_ust']).values)

print(f'The r2 score on the Train set is: ', r2_score(train['NEEnogap_5day_sco2_ust'].values, score_train))
print(f'The r2 score on the Test set is ', r2_score(test['NEEnogap_5day_sco2_ust'].values, score_test))

The r2 score on the Train set is:  0.6813305465293042
The r2 score on the Test set is  0.6591001691563025
CPU times: user 375 ms, sys: 34.1 ms, total: 410 ms
Wall time: 215 ms